@model IEnumerable<MvcMovie.Models.Bateau>

@{
    ViewBag.Title = "Index";
}

<h2>Nosotros barcos !</h2>

<p>
    @Html.ActionLink("Ajouter bateau", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateConstruction)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TypeBateau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateConstruction)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TypeBateau)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prix)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
